<html>
  <head>
    <title>Dad Joke Evaluator</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="greeting.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div>
          <a id="logo" href="/"><img src="dad.jpg"></a>
        </div>
        <div>
          <h1>Dad Joke Evaluator</h1>
        </div>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>